<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="fabulous-webrepl">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
    </template>

    <script>
        /**
        * `fabulous-webrepl`
        * Connect to the esp8266 webrepl
        *
        * @customElement
        * @polymer
        * @demo demo/index.html
        */
        class FabulousWebrepl extends Polymer.Element {
            static get is() { return 'fabulous-webrepl'; }
            static get properties() {
                return {
                    /**
                     * esp8266 ip address
                     * @type {String}
                     */
                    ip: {
                        type: String,
                        value: '192.168.4.1'
                    },
                    /**
                     * Webrepl password
                     * @type {String}
                     */
                    password: {
                        type: String,
                        value: null
                    },
                    /**
                     * Upload status:
                     * - 0: No upload
                     * - 1: Setting the board to upload mode
                     * - 2: Upload completed
                     * @type {Number}
                     */
                    _uploadState: {
                        type: Number,
                        value: 0,
                        notify: true
                    },
                    /**
                     * Holds the file being uploaded.
                     * @type {String}
                     */
                    _uploadingFile: {
                        type: String,
                        value: null
                    },
                    /**
                     * Full address to connect via websocket
                     * @type {String}
                     */
                    _address: {
                        type: String,
                        computed: '_computeAddress(ip)'
                    },
                    /**
                     * Websocket object
                     * @type {Object}
                     */
                    _ws: {
                        type: Object,
                        value: null
                    }
                };
            }

            /**
             * Fired when connection with the board is established
             *
             * @event connected
             */
            /**
             * Fired when connection with the board is closed
             *
             * @event closed
             */
            /**
             * Fired when file starts to get uploaded to the board
             *
             * @event uploading
             */
            /**
             * Fired when file get uploaded to the board
             *
             * @event uploaded
             */
            /**
             * Fired when board sends a message
             *
             * @param {Event} e Message sent by the board. Usually one character
             *     at time.
             * @event message
             */
            /**
             * Fired when board sends an error
             *
             * @param {Event} e Error sent by the board
             * @event error
             */

            /**
             * Computes the full address to connect via websocket to the board
             * @param {String} ip Ip address
             * @return {String} Full address
             */
            _computeAddress (ip) {
                return `ws://${ip}:8266`;
            }
            /**
             * Connects to the board via websocket and binds events for
             * connection being opened, closed and error.
             */
            connect () {
                this._ws = new WebSocket(this._address);
                this._ws.onopen = this._onOpen.bind(this);
                this._ws.onclose = this._onClose.bind(this);
                this._ws.onerror = this._onError.bind(this);
            }
            /**
             * Disconnects to the board from the websocket.
             */
            disconnect () {
                this._ws.close();
            }
            /**
             * Send a python command to the board.
             * @param {String} command Python command to be evaluated by webrepl
             */
            send (command) {
                this._ws.send(command);
            }
            /**
             * Method executed when websocket connection is opened
             * @param {Event} e Event emited by websocket on connection opened
             */
            _onOpen (e) {
                this._ws.onmessage = (e) => {
                    this.dispatchEvent(new CustomEvent('message', e));
                    this._onMessage(e);
                }
            }
            /**
             * Method executed when websocket connection is closed
             * @param {Event} e Event emited by websocket on connection closed
             */
            _onClose (e) {
                this.dispatchEvent(new CustomEvent('closed', e));
            }
            /**
             * Method executed when websocket receives an error
             * @param {Event} e Event emited when websocket receives an error
             */
            _onError (e) {
                this.dispatchEvent(new CustomEvent('error', e));
            }
            /**
             * Method executed when websocket receives a message.
             * @param {Event} e Event emited when websocket receives a message
             */
            _onMessage (e) {
                if (e.data instanceof Blob) {
                    if (this._uploadState == 1) {
                        let encodedString = this._uploadingFile;
                        for (var offset = 0; offset < encodedString.length; offset += 1024) {
                            this._ws.send(encodedString.slice(offset, offset + 1024));
                        }
                        this.set('_uploadState', 2);
                        this.set('_uploadingFile', null);
                        this.dispatchEvent(new CustomEvent('uploaded'));
                    }
                } else {
                    this.set('_uploadState', 0);
                    // If is asking for password, send password
                    if (e.data == 'Password: ') {
                        this._ws.send(`${this.password}\n`)
                        this.dispatchEvent(new CustomEvent('authenticated'));
                    } else if (e.data.indexOf( 'WebREPL connected' ) != -1) {
                        this.dispatchEvent(new CustomEvent('connected'));
                    } else {
                        this.dispatchEvent(new CustomEvent('message', {detail: e.data}))
                    }
                }
            }
            /**
             * Encodes a string
             * @param {String} str String to be encoded
             * @return {String}
             */
            _encodeString (str) {
                let e = new TextEncoder();
                return e.encode(str);
            }
            /**
             * Calculates the size of the file being sent and set the board into
             * file writting mode. This initial message sent will
             * @param {String} filename Name of the file being uploaded
             * @param {String} fileString File content stringified
             */
            uploadFile (filename, fileString) {
                this.set('_uploadState', 1);
                this.set('_uploadingFile', this._encodeString(fileString));
                this.dispatchEvent(new CustomEvent('uploading'));

                let dest_fname = filename,
                    dest_fsize = this._uploadingFile.length,
                    // WEBREPL_FILE = "<2sBBQLH64s",
                    rec = new Uint8Array(2 + 1 + 1 + 8 + 4 + 2 + 64);

                rec[0] = 'W'.charCodeAt(0);
                rec[1] = 'A'.charCodeAt(0);
                rec[2] = 1; // put
                rec[3] = 0;
                rec[4] = 0; rec[5] = 0; rec[6] = 0; rec[7] = 0; rec[8] = 0; rec[9] = 0; rec[10] = 0; rec[11] = 0;
                rec[12] = dest_fsize & 0xff; rec[13] = (dest_fsize >> 8) & 0xff; rec[14] = (dest_fsize >> 16) & 0xff; rec[15] = (dest_fsize >> 24) & 0xff;
                rec[16] = dest_fname.length & 0xff; rec[17] = (dest_fname.length >> 8) & 0xff;

                for (let i = 0; i < 64; ++i) {
                    if (i < dest_fname.length) {
                        rec[18 + i] = dest_fname.charCodeAt(i);
                    } else {
                        rec[18 + i] = 0;
                    }
                }

                this._ws.send(rec);
            }
        }

        window.customElements.define(FabulousWebrepl.is, FabulousWebrepl);
    </script>
</dom-module>
