<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>fabulous-webrepl demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <!-- <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html"> -->
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../fabulous-webrepl.html">
    <!--
    <custom-style>
        <style is="custom-style" include="demo-pages-shared-styles"></style>
    </custom-style>
    -->
</head>
<body>
    <div class="vertical-section-container centered">
        <h3>Basic fabulous-webrepl demo</h3>
        <demo-snippet>
            <dom-bind id="fabulous-webrepl">
                <template>
                    <p>Ip: <input type="text" value="{{ip::input}}"></p>
                    <p>Password: <input type="password" value="{{password::input}}"></p>
                    <p>Connection status: [[status]]</p>
                    <p>
                        Connection
                        <dom-if if="[[!isConnected]]">
                            <template>
                                <button onclick="[[connect]]">Connect</button>
                            </template>
                        </dom-if>
                        <dom-if if="[[isConnected]]">
                            <template>
                                <button onclick="[[disconnect]]">Disconnect</button>
                            </template>
                        </dom-if>
                    </p>

                    <dom-if if="[[isConnected]]">
                        <template>
                            <p>Messages</p>
                            <div id="messages" style="background: black; color: grey; font-family: monospace; font-size: 12px; min-height: 12px;"></div>
                            <p>
                                Send command
                                <input id="command" type="text" value="print('Hello World!')">
                                <button onclick="[[sendCommand]]">Send</button>
                            </p>
                            <p>
                                Upload file
                                <input id="file" type="file" onchange="[[readInputFile]]" />
                                <button onclick="[[sendFile]]">Send</button>
                            </p>
                        </template>
                    </dom-if>
                    <fabulous-webrepl
                        ip="[[ip]]"
                        password="[[password]]">
                    </fabulous-webrepl>
                </template>
            </dom-bind>
            <script type="text/javascript">
                let domBind = document.querySelector('#fabulous-webrepl'),
                    fabWebrepl = document.querySelector('fabulous-webrepl'),
                    fileName, fileData;
                domBind.ip = '192.168.0.16';
                domBind.password = '123456';
                domBind.isConnected = false;
                domBind.status = 'disconnected';
                domBind.connect = () => {
                    domBind.status = 'connecting';
                    fabWebrepl.connect();
                }
                domBind.disconnect = () => {
                    domBind.status = 'disconnecting';
                    fabWebrepl.disconnect();
                }
                domBind.sendCommand = () => {
                    let command = document.querySelector('#command');
                    fabWebrepl.send(`${command.value}\r`);
                }
                domBind.readInputFile = (event) => {
                    let files = event.target.files,
                        f = files[0],
                        reader = new FileReader();
                    fileName = f.name;
                    reader.onload = (e) => {
                        fileData = new Uint8Array(e.target.result);
                    };
                    reader.readAsArrayBuffer(f);
                }
                domBind.sendFile = () => {
                    if (fileName && fileData) {
                        fabWebrepl.uploadFile(fileName, fileData);
                    }
                }

                fabWebrepl.addEventListener('uploading', (e) => {
                    console.log('uploading');
                });
                fabWebrepl.addEventListener('uploaded', (e) => {
                    console.log('uploaded');
                });
                fabWebrepl.addEventListener('connected', (e) => {
                    domBind.status = 'connected';
                    domBind.isConnected = true;
                    fabWebrepl.send('\r');
                });
                fabWebrepl.addEventListener('closed', (e) => {
                    domBind.status = 'disconnected';
                    domBind.isConnected = false;
                });
                fabWebrepl.addEventListener('error', (e) => {
                    domBind.status = 'error';
                    domBind.isConnected = false;
                });
                fabWebrepl.addEventListener('message', (e) => {
                    if (e.detail) {
                        let messages = document.querySelector('#messages')
                        messages.innerHTML += (e.detail.replace('\n', '<br>'));
                    }
                });
            </script>
        </demo-snippet>
    </div>
</body>
</html>
